body{
  background-color: #CDB0EE;
}

.cart-button{
  position: absolute;
  right:0;
}

.header{
  background-color: #CDB0EE;
  height: 50px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .title{
      margin: 0;
  }
}

ion-grid{
  background-color: #CDB0EE;
  --ion-grid-padding: 10px;
}


.section-header{
  margin: 10px;
  background-color: grey;
  height: 40px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.section-input{
  margin: 0;
  height: 40px;
  color:#000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.price-input1{
  margin: 10px;
  background-color: #fff;
  height: 50px;
  color:#000;
}

.price-input2{
  margin: 10px;
  background-color: #fff;
  height: 50px;
  color:#000;
}

.search-input{
  margin: 0;
  background-color: #fff;
  height: 50px;
  width: 50%;
  color:#000;
  
}

.list{
  margin:10px;
}

