<body>

  <div class="header">

    <ion-button (click)="gotToResults()" class="back" color="dark">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <p class="title">Product Details</p>
  </div>

  <main>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img class="itemImage" src={{image}}>
          </ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="itemName">{{title}}</ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-item class="itemPrice">{{price}}</ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="itemLink">
          <ion-button  href="{{link}}"><ion-icon  name="cart-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="cart_button">
      <ion-button (click)="saveToCart()" [routerLink]="['/shopping-cart']" color="tertiary" expand="block">Add to Cart
      </ion-button>
    </div>

  </main>
</body>