body {
    background-color: #CDB0EE;
    font-size: 30px;
}

main {
    background-color: #fff;
}

.header {
    background-color: #CDB0EE;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        margin: 0;
    }
}

.back {
    position: absolute;
    left: 0;
    margin-left: 1%;
}




ion-grid {
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    ion-col{
        margin-left: 3%;
        margin-right: 3%;
    }

}


.cart_button {
    text-align: center;
    position: absolute;
    bottom: 20px;
    height: 60px;
    width: 100%;
}

.itemImage{
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.itemName{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.itemPrice{
    font-size: 20px;
    color: red;
    text-align: center;
    width: 100%;
}

.itemLink{
    font-size: 20px;
    text-align: center;
    height: auto;
    word-break: break-all;
}